html{
  height: 100%
}
body {
  background-color: #20c2fa !important; /*Bootstrap conflicts with this */
  background-size: cover;
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}
#image{
  height: 200px;
  margin-bottom: 20px;
}
#quote-box{
  background-color: #4abae0;
  border: 2px solid #23A1CB;
  border-radius: 70px 70px 70px 70px;
  box-shadow: 2px 2px #23A1CB;
  padding: 10px;
  width: 400px;
  height: 550px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  align-items: center;
}
#credits{
  width: 400px;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
}
a, i, a:hover, a:active, a:visited, a:focus {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}
#buttons {
  display: flex;
  justify-content: space-around;
}
.button {
  background:#efefef;
  border: 1px solid #767676;
  border-radius: 3px 3px 3px 3px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.button:hover, .button:active, .button:visited, .button:focus {
  background:#E3E3E3;
  text-decoration: none;
}
#text {
  height: 50px;
  width: 96%;
  padding-left: 4%;
  margin-bottom: 40px;
}
#author{
  padding-top: 80px;
}
